//layout.scss-->

body {
  font-family: $serif;
}

header {
  background: linear-gradient(45deg, $infoColor 12%, $infoColor 31%, $infoColor 90%);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  height: 70px;
}

.wrapper {
  width: 85%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: auto;
}

.navbar ul {
  display: flex;
  padding: 0;
}

.active-link {
  border-bottom: 1px solid white;
}

.navbar a {
  color: white;
  &:hover{
    color: white;
  }
}

header .navbar {
  justify-content: space-between;
}

.navbar ul li {
  list-style-type: none;
}

header .navbar ul li {
  padding: 10px;
  margin: 0 10px;
}

main {
  margin: auto;
}

footer {
  margin: auto;
  text-align: center;
}



@media screen and (max-width: 767px){
// mobile first
  header {
    height: 100%;
  }

  .wrapper {
    width: 94%;
  }

  header .navbar {
    flex-direction: column;
  }
}





